$color-background-primary: #051139;
$color-text-heading: #78edff;
$color-text-primary: #ffffff;
$color-btn-primary: #348ce9;
$breakpoint-mobile: 540px;
$breakpoint-tablet: 720px;
$breakpoint-mini-laptop: 960px;
$breakpoint-medium-laptop: 1140px;
$breakpoint-large-laptop: 1320px;
